*{
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    padding: 0 3%;
    position: relative;
    box-sizing: border-box;
}

.nav-bar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;

}

.logo {
    width: 9em;
    cursor: pointer;
}

.icon {
    width: 2.5em;
    cursor: pointer;
}

nav {
    flex: 1;
    padding: 2em;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: turquoise;
    text-transform: capitalize;
    text-transform: all 0.3s linear;
}

@media (max-width:500px) {
    nav ul li a {
        font-size: 0.5em;
    }

    .logo {
        width: 4em;
    }
    
    .icon {
        width: 1em;
        cursor: pointer;
    }
    
}

nav ul li a:hover {
    color: coral;
}

.section {
    margin: 10% 0 0 10%;
    position: relative;
    z-index: 2;
}

.section h1 {
    font-size: 4em;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d62;
}

.section p {
    font-size: 1em;
    color: blueviolet;
}

.my-btn {
    display: inline-block;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    box-shadow: 3px 8px 22px rgba(90, 28, 68, 0.15);
    text-decoration: none;
    border-radius: 8px;
}

.icon-container {
    display: flex;
    margin: 40px 0;

}

.icon-container img {
    margin-right: 2em;
    width: 4em;
}

.main-img {
    position: absolute;
    height: 90%;
    right: 10%;
    bottom: 0;
}

.socialLinks {
    transform: rotate(-90deg);
    position: absolute;
    left: -8em;
    bottom: 180px;
}

@media (max-width:800px) {
    .socialLinks {
        transform: rotate(0deg);
        left: 10em;
        position: initial;
    }

    .main {
        background-image: url(img.png);
        background-repeat: no-repeat;
        background-color: rgb(194, 239, 250);
    }

    .main-img {
        display: none;
    }

}

.socialLinks a {
    text-decoration: none;
    color: white;
    padding-right: 1em;
    font-size: 14px;
    text-transform: all 0.3s linear;
}

.socialLinks a:hover {
    color: blue
}


