*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties */
:root {
 

  --clr-DB: hsl(217, 28%, 15%); /*- Dark Blue (intro and email sign up background) */
  --clr-LG: hsl(218, 28%, 13%); /*- Dark Blue (main background) */
  --clr-BC: hsl(216, 53%, 9%); /*- Dark Blue (footer background) */
  --clr-GB: hsl(219, 30%, 18%); /*- Dark Blue (testimonials background) */
  --clr-pr: rgb(89, 192, 4); /*- Cyan (inside call-to-action gradient) */
  --clr-te: rgb(204, 48, 75); /*- */
  --clr-lit:hsl(0, 0%, 100%); /*white */

  --fs-h1: 3em;
  --fs-h2: 2.8em;
  --fs-h3: 1.25em;
  --fs-body: 1em;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
          0.125em  0.125em 0.25em rgba(0, 0, 0, .15); 

  
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  --spacing: 1em;        
   
}

@media screen and (max-width: 1200px) {
  :root {
    --fs-h1: 2.5em;
    --fs-h2: 2.3em;
    --fs-h3: 1.25em;
    --fs-body: 1em;
  }

}

@media screen and (max-width: 800px) {
  :root {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;


    --fs-h1: 2em;
    --fs-h2: 2em;
    --fs-h3: 1.25em;
    --fs-body: 1em;
  }

}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}


img {
  display: block;
  max-width: 100%;
  margin: 0;
}

:focus {
  outline: 3px solid white;
  outline-offset: 3px;
}

main {
  background-color: white;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}


  
.site-logo {
  font-weight: 900;
  font-size: 0.8rem;
  color: var(--text);
  text-decoration: none;
}
  
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav-toggle, .hamburger {
  display: none;
}

.logo {
  max-width: 120px;
}
  
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
  
.nav__link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
  
.nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform-origin: left;
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
  
.nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
  
.nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
}
  
.nav__link--btn:hover {
    background: var(--text);
    color: var(--text-inverse);
  border-color: var(--text);
  }
  
.nav__link--btn::after {
    display: none;
}
  /* button sign in */

  /*
.nav__link--btn--highlight {
    background: limegreen;
    border-color: limegreen;
    color: #333;
}
  
.nav__link--btn--highlight:hover {
    background: var(--text);
    border-color: var(--text);
}
 */ 
.nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
 }

  
 


.home-intro {
  padding: 35vh 0;
  background: #123 url(./img/m5.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-te);
  text-align: left;
}

.home-intro-text {
  max-width: 700px;
}

.home-intro h1 {
  padding-left: 1em;
}

.home-intro p {
  padding-left: 3em;
  font-size: .9em;
  color: var(--clr-lit)
}


.sec1 {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
}



.sec-img {
  max-width:  900px;
  transform: translateY(-20%);
}

.sec-text {
  text-align: left;
  padding-left: 3em;
}

.sec-text p{
  font-size: 1em;
}
  
.home-about {
  padding: 4em 0em;
  background-color: green;
  text-align: center;
  color: white;
}

.home-about h2 {
  text-transform: uppercase;
}

.home-about h2::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: .5em auto 0;
  background: rgba(235, 111, 25, 0.9);
  opacity: 1;
}


.columns {
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin: auto;
  padding-top: 4em;
  line-height: 2em;
}

.col {
  display: flex;
}

.col h3 {
  font-weight: bold;
}

.col p {
  opacity: .7;
  color: black;
}

.col-text, .col-img {
  padding-right: 2em;
  text-align: left;
}

.col-img {
  margin-top: auto;
  margin-bottom: auto;
}


  
  

  
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
  
.fade-in.appear {
  opacity: 1;
}

  /* gallery */

.gallery {
  background-color: white;
  padding: 2em;
  text-align: center;
}

.gallery h2 {
  font-size: 2.8em;
  color:  rgba(235, 111, 25, 0.9);
  text-transform: uppercase;
}


  /* portfolio */

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-top: 2em;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    height: 350px;
    width: 100%; 
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .75;
}

/* testimonial */

.last {
  text-align: center;
  padding-bottom: 6em;
  padding-top: 6em;
}

.last h2 {
  color: green;
  text-transform: uppercase;
}

.testimonial {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 0 auto;
  color: var(--clr-lit);
  grid-row-gap: 5rem;
  grid-column-gap: 3rem;
  padding-top: 4em;
}

.last-sec {
  text-align: left;
  background-color: var(--clr-te);
  padding: 1em 2em;
  font-size: 1.2em;
}

.profile {
  display: flex;
  justify-content: flex-start;
  line-height: .5em;
}

.profile p {
  font-size: .6em;
  margin-bottom: 2em;
  margin-top: .5em;
  margin-left: 1em;
}

.profile h3 {
  font-size: .7em;
  margin-left: 1em;
  padding-top: .3em;
  padding-bottom: .4em;
  color: rgb(1, 41, 1);
}

.pro-img {
  max-width: 50px;
  margin-top: .2em;
}

.pro-img img {
  border-radius: 50%;
  box-shadow: var(--bs);
}



/* footer */

footer {
  background-color: green;
  display: flex;
  justify-content: space-evenly;
  color: black;
  padding-top: 4em;
  padding-right: 2em;
  padding-left: 2em;
}

.foot-logo {
  max-width: 150px;
}

.foot {
  margin-top: 0;
}

.location {
  display: flex;
  max-width: 300px;
  margin-top: 2em;
}

.location p {
  margin-left: 2em;
}


.icon-lo {
  height: 20px;
  margin-top: 1.5em;
}

.adress {
  margin-top: 5em;
  margin-left: 8em;
}

.phone, .mail {
  display: flex;
}

.phone img, .mail img {
  height: 15px;
  margin-right: 1em;
  margin-top: 1.2em;
}

.foot-nav {
  margin-top: 5em;
  margin-left: 4em;
}

.foot-nav-list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: lighter;
}

.foot-nav-list strong {
  margin-right: 3em;
}

.a {
  color: black !important;
  text-decoration: none;
}

.social-icons {
  display: flex;
  margin-top: 5em;
}

.social-icons img {
  height: 20px;
  margin-top: 1.5em;
  margin-left: .5em;
}


@media screen and (max-width:1200px) {

  .sec-text {
    max-width: 450px;
  }

  .columns {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    
  }
  
  /* footer */

  .location {
    max-width: 200px;
    font-size: .9em
  }

  .adress {
      margin-left: 4em;
      font-size: .9em;
  }

  .foot-nav {
    margin-top: 4em;
  }

  .foot-nav-list strong {
      margin-right: 2em;
  }

  .a {
      color: var(--clr-lit);
      text-decoration: none;
      font-size: .9em;
  }

  .social-icons {
    margin-top: 4em;
  }

  .social-icons img {
      height: 18px;
  }


}

@media screen and (max-width:996px) {
  .sec1 {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .sec-text {
    text-align: center;
    padding-left: 0em;
    padding-bottom: 4em;
    max-width: 550px;
    margin: 0 auto;
  }
}

@media screen  and (max-width:800px)  {

  /* Header */

  .main-nav {
    position: fixed;  
    background: var(--clr-pr);
    color: var(--clr-light);
    top: 128px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform : translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1)
  }

  .nav__link:after, .nav__link:hover::after {
    display: none;
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin: 0 6em;
    padding: 0;
  }

  .account {
    display: none;
  }


  .nav-toggle {
    display: block;
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 3em;
    top: 4em;
    z-index: 1000;
 }

 .nav-open .main-nav {
  transform: translateX(50%);
}

.hamburger {
 display: block;
 position: relative;
 
}

.nav-open .nav-toggle {
 position: fixed;
}

.nav-open .hamburger {
 transform: rotate(.625turn);
}


.nav-open .hamburger::before{
 transform: rotate(90deg) translateX(-6px);
}


.nav-open .hamburger::after {
 opacity: 0;
}


.hamburger,
.hamburger::before,
.hamburger::after {
 background: green;
 width: 2em;
 height: 3px;
 border-radius: 1em;
 transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
 content: '';
 position: absolute;
 left: 0;
 right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


  /* footer */
  footer {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
}

.foot {
    margin-left: 0;
}

.adress {
    margin-top: 0px;
    margin-left: 0em;
}

.foot-nav {
    margin-top: 2em;
    margin-left: 0em;
    padding-left: 0em;
}

.foot-nav-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    padding-left: 0;
}

.foot-nav-list strong {
    margin-right: 0px;
    margin-left: 0em;
    margin-top: 2em;
    padding-left: 0em;
}

.social-icons {
    justify-content: center;
    margin-top: 2em;
    margin-left: 0px;
    margin-right: 4em;
}

.social-icons img {
    height: 22px;
    margin-top: 1.5em;
    margin-left: 1em;
}

}
