body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    " head head head "
    " . main . "
    " footer footer footer ";
    background-color: #2F4F4F;
    color: white;
}

#header {
   
    background-color: black;
    width: 100%;
    position: fixed;
    margin: 0px;
    grid-area: head;
    z-index: 2;
    
    
}
#head{
    display: flex;
    justify-content: space-between;
}
#nav-bar {
    display: flex;
    margin-right: 50px;
    background-color: black;
    
}
.nav-link{
    margin-right: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    
}
header nav a {
    color: seagreen;
    text-decoration: none;
    transition: all 0.99s linear;
}
header nav a:hover {
    color: rgba(255, 0, 0, 0.794);
}
#main {
    grid-area: main;
    margin-top: 150px;
}


article h1 {
    font-size: 50px;
    font-weight: 800px;
    text-align: center;
    color: turquoise;
}
article h2 {
    color: black;
}
#bottom {
    grid-area: footer;
}
#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 10px;

    
}

#item{
    border: olivedrab solid 1px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#item h3 {
    background-color: grey;
    width: 100%;
    height: 20px;
    margin-top: 0px;
    color: black;
    font-weight: 0.5em;
    font-size: 0.9em;
    align-self: center;
    justify-self: center;
    
}
#item p {
    line-height: 0.5em;
}

#bnt{
    margin-bottom: 30px;
    margin-top: 10px;
}
#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#submit{
    background-color: turquoise;
}
#submit:hover{
    color: rgb(235, 13, 13);
}